<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" >


<th:block layout:fragment="content">

    <div>
        <h1 style="text-align: center; font-weight:bold; color:#000000; margin-top:35px;">배송 담당자 등록</h1>
    </div>
    <section class="col-xl-auto connectedSortable" style="width:90%; margin-left:5%; margin-top:2%">

        <div class="card card-outline card-gray-dark shadow">
            <div class="card-header">
                <!--  <h3 class="card-title font-weight-bold">
                      <span class="text-primary" style="font-size:22px;">기본정보</span>
                  </h3>-->
                <!-- <div class="card-tools">
                     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>기본 정보 수정</button>
                 </div>-->

            </div>
            <div class="card-body">

                <div class="table-responsive overflow-hidden" style="min-height:100px;">

                    <form id="addInfo"  method="post" onsubmit="return addCourier();" >

                        <div style="color:#000000; background-color:#98ffb5;">
                            <!--<tr>
                                <th>송장번호</th>
                                <th>수취인 연락처</th>
                                <th>지역</th>
                                <th>배송기사</th>
                                <th>배송지 정보</th>
                            </tr>-->
                        </div>
                        <div class="form-group">
                            <span style="text-align: center; color:#000000; font-weight: bold;">이름</span>
                            <input id="name" type="text" class="form-control"  value=""/>
                        </div>
                        <div class="form-group">
                            <span style="text-align: center; color:#000000;font-weight: bold;">연락처</span>
                            <input id="mobileNo" type="text" class="form-control" value=""/>
                        </div>

                        <div class="form-group">
                            <span style="text-align: center; color:#000000;font-weight: bold;">담당 지역</span>
                            <select id="selectInfo" name="selectInfo" title="담당 지역 선택" onchange="changeInfo();" style="color:#000000;">
                                <option value="김천시청">김천시청</option>
                                <option value="한국교통안전공단">한국교통안전공단</option>
                                <option value="한국도로공사">한국도로공사</option>
                                <option value="푸르나임아파트">푸르나임아파트</option>
                                <option value="그린스마트빌리지">그린스마트빌리지</option>
                                <option value="어모면사무소">어모면사무소</option>
                                <option value="주상복합건물(음식)">주상복합건물(음식)</option>
                                <input id="areaSelect" type="text" class="form-control" value=""/>
                            </select>

                        </div>

                        <button type="button" class="btn btn-sm btn-outline-info" onclick="addCourier()" style="
                        margin-left: 41%; width: 100px; height: 40px; font-size: 15px; background-color: #3498db; color:#ffffff; margin-bottom: 15px;">등록 완료</button>
                    </form>

                </div>
            </div>
        </div>
    </section>


    <script src="../static/js/dataTables/jquery.dataTables.js"></script>
    <script src="../static/js/dataTables/jquery.dataTables.min.js" defer></script>
    <script src="../static/js/dataTables/dataTables.bootstrap4.min.js"></script>
    <script src="../static/js/dataTables/dataTables.buttons.min.js"></script>
    <script src="../static/js/dataTables/buttons.html5.min.js"></script>
    <script src="../static/js/dataTables/jszip.min.js"></script>
    <script src="../static/js/dataTables/dataTables.bootstrap4.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var no = [[${no}]];
        var deliveryDetailList = [[${deliveryDetailList}]];
        var deliveryInfoList = [[${deliveryInfoList}]];
        /*]]>*/

        $(function () {
            /*<![CDATA[*/
            var redirectMessage = [[${redirect_message}]];
            /*]]>*/

            $("#addInfo input").change(function (e) {
                var targetId = $(e.target).attr("id");
                $("#" + targetId + "Valid").text("");
            });
        });
        var styleObj = {
            'color': 'black',
            'background-color' : '#63676a'
        };
        $("#courier").addClass("active").css(styleObj);;
        function deleteInfo(data) {
            console.log(data);
        }

        var changeInfo = function(){
            var info = $("#selectInfo").val();

            /* $("#Info").val(info);*/
            $("#areaSelect").val(info);
        };
        function addCourier() {
            console.log("test");
            var pattern_name = /^[가-힣|a-z|A-Z]{2,20}$/;
            var pattern_phone = /^01(?:0|1|[6-9])[.-]?(\d{3}|\d{4})[.-]?(\d{4})$/;

            var $name = $("#name");
            var $mobileNo = $("#mobileNo");
            var $area = $("#areaSelect");

            if ($name.val() == null) {
                alert("이름을 입력해주세요.");
                $name.focus();
                return false;
            } else if (!pattern_name.test($name.val())) {
                alert("이름은 한글 혹은 영문 2 ~ 20자로 입력해주세요.");
                $name.focus();
                return false;
            }

            if ($mobileNo.val()== null) {
                alert("전화번호를 입력해주세요.");
                $mobileNo.focus();
                return false;
            } else if (!pattern_phone.test($mobileNo.val())) {
                alert("전화번호 형식이 유효하지 않습니다.");
                $mobileNo.focus();
                return false;
            }

            if ($area.val()== null) {
                $("#areaSelect").text("담당 지역을 선택해주세요.");
                $area.focus();
                return false;
            }
            if (confirm("추가 하시겠습니까?")) {
                var param = {
                    name :  $("#name").val(),
                    mobileNm : $("#mobileNo").val(),
                    area : $("#areaSelect").val()
                };
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: param,
                    url:  "/addManager.do",
                    success: function (data) {
                        console.log(data.result);
                        if (data.result === "success") {
                            alert("추가 되었습니다.");
                            window.opener.location.reload();
                            self.close();

                        } else {
                            alert("추가 실패했습니다.");
                            self.close();
                        }
                    }
                });
            }


        }


    </script>
</th:block>




</html>