<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default" >


<th:block layout:fragment="content">

    <div>
        <h1 style="text-align: center; font-weight:bold; color:#000000; margin-top:35px;">배송 담당자 관리</h1>
    </div>
    <section class="col-xl-auto connectedSortable" style="width:90%; margin-left:5%; margin-top:2%">

        <div class="card card-outline card-gray-dark shadow">
            <div class="card-header">

                <!-- <div class="card-tools">
                     <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>기본 정보 수정</button>
                 </div>-->

            </div>
            <div class="card-body">
                <div class="table-responsive overflow-hidden" style="min-height:100px;">

                    <table class="table table-bordered table-striped table-hover nowrap text-center table-sm" id="courierTable">
                        <colgroup>
                            <col style="width:80px;"/>
                            <col style="width:150px;"/>
                            <col style="width:300px;"/>
                            <col style="width:300px;"/>
                            <col style="width:300px;"/>
                        </colgroup>
                        <thead style="color:#000000;">
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>연락처</th>
                            <th>담당 지역</th>
                            <th>관리 메뉴</th>

                        </tr>
                        </thead>
                        <tbody style="color:#000000">
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align: right;" class="card-header py-3">
                <button type="button" style="width:100px; height: 40px; margin-left:10px; font-size:17px; text-align: center;background-color: #3498db; color:#ffffff;" class="btn btn-sm btn-outline-info" id="cancel" onclick="addCourier()">신규등록</button>

            </div>
        </div>
    </section>

    <link href="../static/js/dataTables/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="../static/js/dataTables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script src="../static/js/dataTables/jquery.dataTables.js" defer></script>
    <script src="../static/js/dataTables/jquery.dataTables.min.js" defer></script>
    <script src="../static/js/dataTables/dataTables.bootstrap4.min.js" defer></script>
    <script src="../static/js/dataTables/dataTables.buttons.min.js" defer></script>
    <script src="../static/js/dataTables/buttons.html5.min.js" defer></script>
    <script src="../static/js/dataTables/jszip.min.js" defer></script>

    <script src="../static/js/dataTables/dataTables.bootstrap4.js" defer></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var no = [[${no}]];

        /*]]>*/

        function addCourier() {
            var url = '/addManager';
            centerPopup(url, 550, 400);
        }
        function centerPopup(pUrl, pWidth, pHeight) {
            try {
                var xPosition = screen.width / 2 - pWidth / 2;

                var yPosition = -75 + screen.height / 2 - pHeight / 2;

                window.open(pUrl, "", "scrollbars=yes,toolbar=0,status=0,resizable=0,menubar=no,width=" + pWidth + ",height=" + pHeight + ",left=" + xPosition + ",top=" + yPosition);
            } catch (Exception) {
                alert("Usage : openPopUpCenter( 팝업창 넓이, 팝업창 높이, 팝업 파일명 )");
                return false;
            }
        }
        $(function () {


            var styleObj = {
                'color': 'black',
                'background-color' : '#63676a'
            };
            $("#delivery").addClass("active").css(styleObj);;
            $("#menu").removeClass("menu-open");
            $.extend($.fn.dataTable.defaults, {
                deferRender: true,
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>" +
                    "<'row mb-2'<'col-sm-12'rt>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                language: {
                    url: "../static/js/dataTables/datatables.korean.json"
                },
                columnDefs: [{
                    defaultContent: "",
                    targets: "_all",
                }],
                initComplete: function (settings, json) {
                    // var $loading = $("#loading");
                    // if ($loading.is(":visible")) {
                    //     $loading.hide();
                    // }
                },
            });
            var $courierTable = (function () {
                var $target = null;
                var $dataTable = null;
                return {
                    table: function () {
                        return $dataTable;
                    },
                    create: function () {
                        $("#loading").show();
                        $target = $("#courierTable");
                        $dataTable = $target.DataTable({
                            dom: "<'row mb-2'<'col-sm-12'rt>>" +
                                "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'f>>",
                            order: [[0, "desc"],],
                            paging : true,
                            pageLength: 10,
                            pagingType : "simple_numbers",
                            search: {
                                regex: true,
                            },
                            ajax: {
                                type: "POST",
                                dataType: "json",
                                url: "/deliveryManager"
                            },


                            columns: [
                                {data: "no", className: "text-center align-middle"},
                                {data: "name", className: "text-center align-middle",
                                    render: function (data, type, row, meta) {
                                        return nameMasking(data);

                                    }},
                                {data: "mobileNm", className: "text-center align-middle",
                                    render: function (data, type, row, meta) {
                                        return phoneMasking(data);

                                    }},
                                {data: "area", className: "text-center align-middle"},
                                {
                                    data: "no",
                                    className: "text-center",
                                    render: function(data, type, row, meta) {
                                        return "<button type=\"button\" class=\"btn btn-outline-success btn-lg\" id=\"updateAccept" + meta.row + "\" onclick=\"update(this);\">수정</button>"
                                        + "<button style=\"margin-left:10px;\" type=\"button\" class=\"btn btn-outline-success btn-lg\" id=\"updateAccept" + meta.row + "\" onclick=\"deleteManager('" + data + "');\">삭제</button>";;
                                    },
                                }
                            ],


                        });
                    },
                    destroy: function () {
                        $dataTable.destroy();
                    },
                    reload: function () {
                        $courierTable.destroy();
                        $courierTable.create();
                    },
                };
            })();
            $courierTable.create();
        })

        function phoneMasking(str) {

            let originStr = str;
            let phoneStr;
            let maskingStr;
            if(this.checkNull(originStr) === true){
                return originStr;
            }

            if (originStr.toString().split('-').length !== 3)
            { // 1) -가 없는 경우
                phoneStr = originStr.length < 11 ? originStr.match(/\d{10}/gi) : originStr.match(/\d{11}/gi);
                if(this.checkNull(phoneStr) === true){
                    return originStr;
                }
                if(originStr.length < 11)
                {

                    maskingStr = originStr.toString().replace(phoneStr, phoneStr.toString().replace(/(\d{3})(\d{3})(\d{4})/gi,'$1***$3'));
                } else {

                    maskingStr = originStr.toString().replace(phoneStr, phoneStr.toString().replace(/(\d{3})(\d{4})(\d{4})/gi,'$1****$3'));
                }
            }else {
                // 2) -가 있는 경우
                phoneStr = originStr.match(/\d{2,3}-\d{3,4}-\d{4}/gi);
                if(this.checkNull(phoneStr) === true){
                    return originStr;
                } if(/-[0-9]{3}-/.test(phoneStr)) {
                    // 2.1) 00-000-0000
                    maskingStr = originStr.toString().replace(phoneStr, phoneStr.toString().replace(/-[0-9]{3}-/g, "-***-"));
                } else if(/-[0-9]{4}-/.test(phoneStr)) {
                    // 2.2) 00-0000-0000
                    maskingStr = originStr.toString().replace(phoneStr, phoneStr.toString().replace(/-[0-9]{4}-/g, "-****-"));
                }
            } return maskingStr;
        }

        function checkNull (str) {
            if(typeof str == "undefined" || str == null || str === ""){
                return true;
            } else{
                return false;
            }

        }
        function nameMasking(str){
            let originStr = str;
            let maskingStr;
            let strLength;
            if(this.checkNull(originStr) === true){
                return originStr;
            }
            strLength = originStr.length;
            if(strLength < 3){
                maskingStr = originStr.replace(/(?<=.{1})./gi, "*");
            }else { maskingStr = originStr.replace(/(?<=.{2})./gi, "*");
            }
            return maskingStr;

        }
        function update(obj) {
            if (confirm("삭제 하시겠습니까?")) {
                var param = {
                    userId: $(obj).closest("tr").data("no"),
                };
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    data: param,
                    url:  "/etc/updateAccept.do",
                    success: function (data) {
                        if (data.result === "success") {
                            alert("삭제 되었습니다.");
                            location.reload();
                        } else {
                            alert("삭제 실패했습니다.");
                        }
                    }
                });
            }
        }
    </script>
</th:block>




</html>