
<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jQuery.style.switcher.min.js"></script>
<script src="../../static/js/jquery.appear.js"></script>
<script src="../../static/js/jquery-ui.js"></script>
<script src="../../static/js/jQuery-ui/jquery-ui.min.js"></script>
<script src="../../static/js/jQuery/jquery-3.5.1.js"></script>
<script src="../../static/js/jQuery/jquery-3.5.1.min.js"></script>
<script src="../../static/js/revolution.min.js"></script>
<script src="../../static/js/jquery.fancybox.pack.js"></script>
<script src="../../static/js/jquery.fancybox-media.js"></script>
<script src="../../static/js/owl.js"></script>
<script src="../../static/js/wow.js"></script>
<script src="../../static/js/appear.js"></script>
<script src="../../static/js/isotope.js"></script>
<script src="../../static/js/script.js"></script>
<script src="../../static/js/wddo.selectbox-1.5.4.js"></script>
<script src="../../static/js/toastr/toastr.js"></script>
<script src="../../static/js/toastr/toastr.min.js"></script>
<script src="../../static/js/bootstrap/bootstrap.bundle.js"></script>
<script src="../../static/js/bootstrap/bootstrap.bundle.min.js"></script>


<script src="../../static/js/overlayScrollbars/jquery.overlayScrollbars.js"></script>


