<!DOCTYPE html>
<html lang="java">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!--<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=620">
<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="../js/fontawesome-free/css/all.min.css">
<link rel="stylesheet" href="../js/icheck-bootstrap/icheck-bootstrap.min.css">
<link rel="stylesheet" href="../js/jQuery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="../js/OverlayScrollbars.min.css">
<link rel="stylesheet" href="../js/toastr.min.css">
<link rel="stylesheet" href="../js/css/common.css?v=20201026">-->
<script src="../../static/js/lib/jquery/1.12.4/jquery.min.js"></script>
<script src="../../static/js/lib/jqueryui/1.12.1/jquery-ui.min.js"></script>

<link rel="icon" href="../../static/images/favicon.ico" type="image/x-icon">
<!--<script src="../js/jQuery/jquery-3.5.1.js"></script>
<script src="../js/jQuery/jquery-3.5.1.min.js"></script>-->

<title>::Smart Logistics System::</title>
<h2 style="text-align: center; background-color: #b8b8b8; color:#000000;">물류 통합 관리 시스템</h2>
<div style=" display: inline-block;width:100%;">
    <button style="width:50%;display: inline-block; background-color: #37d785; float: left; color: #000000;">물품 등록</button>
    <button style="width:50%;display: inline-block; float: right;color: #000000;">배송 현황 조회</button></div>
<!-- Stylesheets -->

<link href="../../static/js/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../../static/js/toastr/toastr.css" rel = "stylesheet">
<link href="../../static/js/toastr/toastr.min.css" rel = "stylesheet">
<link href="../../static/css/contents.css" rel="stylesheet">
<link href="../../static/css/adminlte.css" rel="stylesheet">
<link href="../../static/js/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="../../static/css/adminlte.min.css" rel="stylesheet">
<link href="../../static/css/revolution-slider.css" rel="stylesheet">
<link href="../../static/css/slider-setting.css" rel="stylesheet">
<link href="../../static/css/style.css" rel="stylesheet">
<link href="../../static/js/adminlte.js" rel="stylesheet">
<link href="../../static/js/adminlte.min.js" rel="stylesheet">
<!--<link href="../../static/js/dataTables/dataTables.bootstrap4.css" rel="stylesheet">-->

<link href="../../static/js/common.js" rel="stylesheet">
<link href="../../static/js/fontawesome-free/css/all.css" rel="stylesheet">
<!--<link href="../../static/js/dataTables/buttons.bootstrap4.css" rel="stylesheet">-->

<link href="../../static/js/overlayScrollbars/OverlayScrollbars.min.css" rel="stylesheet">
<link href="../../static/js/fontawesome-free/css/all.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" id="jssDefault" href="../../static/css/custom/theme-2.css"/>

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="../../static/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->


<!--<script src="../js/jQuery-ui/jquery-ui.js"></script>
<script src="../js/jQuery-ui/jquery-ui.min.js"></script>-->

<link rel="apple-touch-icon" style="width:180px; height:180px;"  href="../../static/images/box.png">
<link rel="icon" type="image/png" href="../../static/images/box.png" style="width:32px; height:32px;">
<link rel="icon" type="image/png" href="../../static/images/box.png" style="width:16px; height:16px;">


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>


<!--End Sticky Header-->
