<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexmore.smartLogistics.mapper.FoodDeliveryMapper">

    <select id="selectFoodDelivery" resultType="com.nexmore.smartLogistics.domain.FoodDeliveryDTO">
        SELECT COUNT(STATUS) as COUNT, STATUS
        FROM FOOD_DELIVERY_STATUS_TB
        GROUP BY STATUS
    </select>

    <select id="selectFoodDeliveryAll" resultType="com.nexmore.smartLogistics.domain.FoodDeliveryDTO">
        SELECT COUNT(*) as COUNT
        FROM FOOD_DELIVERY_STATUS_TB
    </select>

    <select id="selectfoodDeliveryStatus" resultType="com.nexmore.smartLogistics.domain.FoodDeliveryDTO">
        SELECT NO, STATUS, ADDRESS,
        DATE_FORMAT(REG_DATE, '%Y-%m-%d %H:%i') as REG_DATE
        FROM FOOD_DELIVERY_STATUS_TB
        ORDER BY REG_DATE DESC

    </select>
</mapper>