<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nexmore.smartLogistics.mapper.RobotDronMapper">

    <select id="selectRobotDron" resultType="com.nexmore.smartLogistics.domain.RobotDronDTO">
        SELECT NO,
                KIND,
                MANAGE_ID,
                AREA,
                STATUS ,
                DATE_FORMAT(REG_DATE, '%Y-%m-%d %H:%i') as regDate
        FROM ROBOT_DRON_TB
        ORDER BY REG_DATE DESC
    </select>


</mapper>